body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(192,83,150);
}
h1{
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    letter-spacing: 10px;
}
h2{
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 5px;
}
p{
    font-size: 10px;
    color: #3264a7;
}

img{
    width: 40%;
    height: auto;
}
.logo{
    text-align: center;
}
.imagen-derecha{
    width: 300px;
    float: inline-end;
    margin: 0 0 0 10px;
}
.imagen-izquierda{
    width: 300px;
    float: inline-start;
    margin: 0 10px 0 0;
}
.ancho-total{
    width: 100%;
    height: auto;
    margin-top: 5px;
}